.body {
  margin: 0;
  padding: 0;
  font-family: "Permanent Marker", cursive;
}

.halloween {
  height: 100vh;
  background: black;
}

.halloween__smoke {
  object-fit: cover;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
}

.halloween__letters::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: orangered;
  mix-blend-mode: color;
  pointer-events: none;
}

.halloween__letters {
  color: orangered;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  text-align: center;
  margin: 0;
  padding: 15% 0 0;
  font-size: 65px;
  letter-spacing: 0.2em;
  background: transparent;
}

.halloween__letters > span {
  animation: animate 1s linear forwards;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}

.halloween__letters > span:nth-child(1) {
  animation-delay: 2.25s;
}

.halloween__letters > span:nth-child(2) {
  animation-delay: 2.5s;
}

.halloween__letters > span:nth-child(3) {
  animation-delay: 2.75s;
}

.halloween__letters > span:nth-child(4) {
  animation-delay: 3s;
}

.halloween__letters > span:nth-child(5) {
  animation-delay: 3.25s;
}

.halloween__letters > span:nth-child(6) {
  animation-delay: 1.75s;
}

.halloween__letters > span:nth-child(7) {
  animation-delay: 2s;
}

.halloween__letters > span:nth-child(8) {
  animation-delay: 2.25s;
}

.halloween__letters > span:nth-child(9) {
  animation-delay: 2.5s;
}

.halloween__letters > span:nth-child(10) {
  animation-delay: 2.75s;
}

.halloween__letters > span:nth-child(11) {
  animation-delay: 3s;
}

.halloween__letters > span:nth-child(12) {
  animation-delay: 3.25s;
}

.halloween__letters > span:nth-child(13) {
  animation-delay: 3.5s;
}

.halloween__letters > span:nth-child(14) {
  animation-delay: 3.25s;
}

.halloween__letters > span:nth-child(15) {
  animation-delay: 3s;
}

.halloween__letters > span:nth-child(16) {
  animation-delay: 3.25s;
}

.ghost__button {
  color: green;
  font-family: "Permanent Marker", cursive;
  background: orangered;
  width: 400px;
  height: 50px;
  position: absolute;
  left: 50px;
  bottom: 50px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
}

.ghost__button:hover {
  transition: all 0.2s;
  transform: translate3d(-2px, -2px, 0);
  box-shadow: 2px 2px;
}

.ghost__container {
  width: 100%;
  position: absolute;
  text-align: center;
  visibility: hidden;
}

.ghost__img {
  z-index: 3;
  display: hidden;
  width: 550px;
  margin: 35px auto;
  opacity: 0.75;
}
